.container {
    width: 100%;
    height: auto;
  }
  
  .split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid rgb(195, 187, 187);
    align-items: center;
  }
  .foodlist {
    font-weight: bold;
  }
  .foodlist:hover {
    cursor: pointer;
    color: lawngreen;
    text-decoration: underline;
  }
  .favorites {
    background-color: #e887d7;
  }
  .fooditems {
    margin-top: 30px;
    width: 60%;
  }
  .items {
    width: 90%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
  }
  .name {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    border: 1px solid transparent;
    border-left: 1px solid black;
  }
  .gen {
    margin-left: 3%;
    font-size: 1.2vw;
  }
  .gen:hover {
    cursor: pointer;
    text-decoration: underline;
    color: lawngreen;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .image:hover {
    cursor: pointer;
  }
  .sortBy{
    font-weight: bold;
    
  }
  .sortBtn{
    margin-top: 20px;
    
  }
  .sortBtn button{
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .sortBtn button:hover{
    color: navajowhite ;
  }
  
  @media only screen and (min-width: 0px) and (max-width: 376px) {
    .fooditems {
      width: 100%;
    }
    .gen {
      margin-left: 3%;
      font-size: 15px;
    }
  }
  @media only screen and (min-width: 376px) and (max-width: 768px) {
    .fooditems {
      width: 100%;
    }
    .gen {
      margin-left: 3%;
      font-size: 20px;
    }
  }